.DS_Store
.next/
node_modules/
backend/.cache
frontend/out/
frontend/.next/
frontend/web/out/
frontend/node_modules/
.idea/
backend/hackathon.sqlite
*.sqlite
*.sqlite-shm
*.sqlite-wal
dist/
coverage/
